* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

aside {
  display: block;
}

.container {
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main {
  position: absolute;
  left: 3%;
  right: 0;
  width: 94%;
  background-color: green;
  z-index: -100;
}

.content {
  margin: 5%;
}

aside {
  height: 100%;
  width: 53%;
  background-color: blue;
  position: relative;
}

.main, aside, .slideover {
  transition:All 2s ease;
  -webkit-transition:All 2s ease;
  -moz-transition:All 2s ease;
  -o-transition:All 2s ease;
}

aside.left_col {
  float: left;
  margin-right: -20%;
  left: -50%;
}
aside.right_col {
  float: right;
  margin-left: -20%;
  right: -50%;
}

.slideover {
  position: absolute;
  z-index: 100;
  display: block;
  width: 3%;
  height: 100%;
  cursor: pointer;
}

.slideover.left {
  left: 0;
}

.slideover.right {
  right: 0;
}

.slideover.left:checked {
  left: 50%;
}

.slideover.right:checked {
  right: 50%;
}


.slideover.left:checked ~ .main {
  left: 53%;
}

.slideover.right:checked ~ .main {
  left: -47%;
}

.slideover:checked + aside.left_col {
  left: 0;
}

.slideover:checked + aside.right_col {
  right: 0;
}
