* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

aside {
  display: block;
}


.main {
  display: inline-block;
  width: 88%;
  background-color: green;
}

.main .content {
  margin: 5%;
}

aside {
  width: 26%;
  background-color: blue;
  position: relative;
  margin-top: 20px;
  transition:All 0.3s ease;
-webkit-transition:All 0.3s ease;
-moz-transition:All 0.3s ease;
-o-transition:All 0.3s ease;
}

aside.left_col {
  float: left;
  margin-right: -20%;
}
aside.right_col {
  float: right;
  margin-left: -20%;
}

aside.left_col.hidden {
  left: -16%;
}
aside.right_col.hidden {
  right: -16%;
}

.slideover:checked+aside {
  right: 0;
  left: 0;
}


.main, aside {
/*  float: left;
  height: 100%;*/
}

.slideover.left:checked ~ .container {
  -webkit-animation: leftslidein 2s 1 ease forwards;
}

.slideover.left ~ .container {
  -webkit-animation: leftslideout 2s 1 ease forwards;
}

.slideover.right:checked ~ .container {
  -webkit-animation: rightslidein 2s 1 ease forwards;
}

.slideover.right ~ .container {
  -webkit-animation: rightslideout 2s 1 ease forwards;
}

@-webkit-keyframes leftslidein {
  0%    { left: -50%; }
  100%  { left: 0; }
}

@-webkit-keyframes leftslideout {
  0%    { left: 0; }
  100%  { left: -50%; }
}

@-webkit-keyframes rightslidein {
  0%    { left: -50%; }
  100%  { left: -100%; }
}

@-webkit-keyframes rightslideout {
  0%    { left: -100%; }
  100%  { left: -50%; }
}

