* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

aside {
  display: block;
}

.container {
  position: absolute;
  width: 200%;
  height: 100%;
  left: -50%;
}

.main .content {
  margin: 5%;
}

aside {
  width: 26%;
  background-color: blue;
}

.main {
  width: 48%;
  background-color: green;
}

.main, aside {
  float: left;
  height: 100%;
}

.slideover.left:checked ~ .container {
  -webkit-animation: leftslidein 2s 1 ease forwards;
}

.slideover.left ~ .container {
  -webkit-animation: leftslideout 2s 1 ease forwards;
}

.slideover.right:checked ~ .container {
  -webkit-animation: rightslidein 2s 1 ease forwards;
}

.slideover.right ~ .container {
  -webkit-animation: rightslideout 2s 1 ease forwards;
}

@-webkit-keyframes leftslidein {
  0%    { left: -50%; }
  100%  { left: 0; }
}

@-webkit-keyframes leftslideout {
  0%    { left: 0; }
  100%  { left: -50%; }
}

@-webkit-keyframes rightslidein {
  0%    { left: -50%; }
  100%  { left: -100%; }
}

@-webkit-keyframes rightslideout {
  0%    { left: -100%; }
  100%  { left: -50%; }
}

