* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
}

.content {
  margin: 5%;
}

.aside_content {
  margin: 5% 15%;
}

aside.left_col {
  left: -25%;
}

aside.right_col {
  right: -25%;
}

aside {
  display: block;
  position: absolute;
  width: 28%;
  height: 100%;
  background-color: red;
}

.main {
  width: 100%;
}

.main, aside, .slideover {
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease;
}

.slideover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 3%;
  cursor: pointer;
  z-index: 100;
}

.slideover.left {
  left: 0;
}

.slideover.right {
  right: 0;
}

.slideover.left:checked {
  left: 25%;
}

.slideover.right:checked {
  right: 25%;
}

.slideover.left:checked ~ .main {
  margin-left: 25%;
}

.slideover.right:checked ~ .main {
  margin-left: -25%;
}

.slideover:checked + aside.left_col {
  left: 0;
}

.slideover:checked + aside.right_col {
  right: 0;
}

