$gutter-width: 20px;

$small-device-width: 320px;
$small-device-content-width: $small-device-width - ($gutter-width * 4);

$small-medium-device-width: 450px;
$small-medium-device-content-width: $small-medium-device-width - ($gutter-width * 4);

$medium-device-width: 720px;
$medium-device-content-width: $medium-device-width - ($gutter-width * 4);

$large-device-width: 1024px;
$large-device-content-width: $large-device-width - ($gutter-width * 4);

@import './reset';
@import './text';
@import './layout';

@import './modules/header';
@import './modules/slidepanel';
