@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,300,300italic);

h1, h2, h3, h4, h5 { font-family: 'Roboto Slab', 'Arial', 'sans-serif'}
p { margin-bottom: 30px; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: justify;
}
